:root {
    font-size: 18px;
    font-family: 'Jetbrains Mono', 'Courier New', monospace;
}

body {
    background-color: #2e2e2e;
}

.outDiv {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 0px;
    margin-left: .5rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    justify-content: flex-end;
}

.shellDiv {
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: .5rem;
    margin-bottom: .5rem;
}

t.out {
    color: white;
    height: 1.5rem;
}

t.shell-header {
    color: white;
    white-space: nowrap;
    margin-right: .4rem;
}

input {
    background-color: inherit;
    border: none;
    color: white;
    font-size: inherit;
    font-family: inherit;
    width: 100vw;
}

input:focus {
    outline-width: 0;
}

a:link {
    color: white;
    text-decoration: underline;
}

a:visited {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: #838383
}